:host {
    
    .main-dialog-content {
        display: flex;
        flex-direction: column;

        .write-func {
            display: flex;
            .f-name {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
    }

    .main-dialog-actions {
        display: flex;
        justify-content: end;
    }

    ::ng-deep {
        .mat-dialog-content.main-dialog-content {
            overflow: visible;
        }
    }
}