<form 
    [formGroup]="calcForm" 
    (ngSubmit)="onSubmit()"
>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Розмірність</mat-label>
    <input 
        matInput 
        placeholder="розмірність" 
        [value]="nDim"
        (change)="onChangeNDim($event)"    
    >
</mat-form-field>



<div class="main-equation">
    <mat-form-field appearance="fill">
        <mat-label><ng-katex [equation]="linDiffOp"></ng-katex></mat-label>
        <mat-select>
            <mat-option
                (click)="openLinDiffOpDialog()"
            >
                Задати власий оператор
            </mat-option>
            <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
            </mat-option> -->
        </mat-select>
    </mat-form-field>
   
    <div class='goal-func'>
        <ng-katex [equation]="resEq"></ng-katex>
    </div>

    <mat-form-field appearance="fill">
        <mat-label><ng-katex [equation]="funcOfExternalPerturbations"></ng-katex></mat-label>
        <mat-select>
            <mat-option
                (click)="openStateFunctionDialog()"
            >
                Задати власну функцію
            </mat-option>
            <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
            </mat-option> -->
        </mat-select>
    </mat-form-field>

</div>


<div class="boundary-conditions">
    <div class="f-conditions">
        <h4>Початкові умови</h4>
    </div>
    <div class="s-contions">
        <h4>Граничні умови</h4>
    </div>
</div>

<div class="system-area"> 

</div>
    

<button mat-flat-button color="primary">Розв'язати</button>

</form>
